# WordPress
WP_BASE_URL=https://optimpixel.com
WP_USER=tu_usuario
WP_APP_PASSWORD=xxxx xxxx xxxx xxxx xxxx xxxx

# RAWG API - Obtén tu key en https://rawg.io/apidocs
RAWG_API_KEY=tu-rawg-api-key-aqui

# Hugging Face - Obtén token en https://huggingface.co/settings/tokens
HF_TOKEN=tu-huggingface-token-aqui

# SERPAPI API
SERPAPI_KEY=api-key-de-serpapi-aqui